#el2{background-color:rgb(173, 200, 75); color:rgb(8, 8, 7); text-align:center; }
#el1{color:rgba(0, 0, 0, 0.952);padding:10px;text-align:center;}
#intro{color:rgba(17, 16, 16, 0.952);}



 #bac{background-image:url(https://www.gofoodieonline.com/Content/Images/banner4.jpg);background-size:contain;background-repeat:no-repeat;
background-position:center;}